target/
gradle/
.direnv/
project/project/
project/metals.sbt
core/target/
soreg/target/
common/target/
kreg-utils/target/
kreg-crypto/target/
patient-search/target/
.bsp/
.bloop/
.metals/
.idea/
*.iml
.vscode/
kreg-app/node_modules/
build/